openapi: 3.1.0
info:
  title: Atlas Sanctum API
  version: "1.0.0"
  description: |
    The Atlas Sanctum REST API — regenerative operating system for planetary coordination.
    All endpoints require Bearer JWT unless marked public.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  contact:
    name: Atlas Sanctum
    url: https://atlassanctum.com

servers:
  - url: https://api.atlassanctum.com/v1
    description: Production
  - url: http://localhost:4000
    description: Local development

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Error:
      type: object
      properties:
        error: { type: string }
        code: { type: string }

    Pagination:
      type: object
      properties:
        page: { type: integer }
        limit: { type: integer }
        total: { type: integer }

    Asset:
      type: object
      properties:
        id: { type: string }
        title: { type: string }
        type: { type: string, enum: [carbon, biodiversity, water, ocean, circular, healthcare, community] }
        status: { type: string, enum: [pending, verified, active, retired] }
        metadata: { type: object }
        ipfsCid: { type: string }
        createdAt: { type: string, format: date-time }

    Measurement:
      type: object
      properties:
        id: { type: string }
        assetId: { type: string }
        source: { type: string }
        timestamp: { type: string, format: date-time }
        geo: { type: object, properties: { lat: { type: number }, lng: { type: number } } }
        metrics: { type: object }
        verificationStatus: { type: string, enum: [unverified, ai-verified, human-verified, blockchain-anchored] }

    Proposal:
      type: object
      properties:
        id: { type: string }
        title: { type: string }
        body: { type: string }
        proposer: { type: string }
        choices: { type: array, items: { type: string } }
        votes: { type: object }
        status: { type: string, enum: [draft, active, passed, rejected, executed] }
        indigenousVeto: { type: boolean }
        sevenGenImpact: { type: string }
        createdAt: { type: string, format: date-time }
        endsAt: { type: string, format: date-time }

    CreditListing:
      type: object
      properties:
        id: { type: string }
        assetId: { type: string }
        creditType: { type: string }
        amount: { type: number }
        pricePerUnit: { type: number }
        currency: { type: string }
        seller: { type: string }
        status: { type: string, enum: [active, sold, cancelled] }

    Plugin:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        category: { type: string, enum: [ai-model, sensor, wallet, dashboard, data-connector, governance] }
        version: { type: string }
        author: { type: string }
        ethicsScore: { type: number, minimum: 0, maximum: 100 }
        verified: { type: boolean }
        installCount: { type: integer }

    SensorReading:
      type: object
      properties:
        sensorId: { type: string }
        type: { type: string }
        value: { type: number }
        unit: { type: string }
        timestamp: { type: string, format: date-time }
        geo: { type: object }

    IdentityProfile:
      type: object
      properties:
        did: { type: string }
        displayName: { type: string }
        reputation: { type: number }
        credentials: { type: array, items: { type: object } }
        roles: { type: array, items: { type: string } }

    BridgeTransfer:
      type: object
      properties:
        id: { type: string }
        fromChain: { type: string }
        toChain: { type: string }
        asset: { type: string }
        amount: { type: string }
        status: { type: string, enum: [pending, locked, minted, completed, failed] }
        txHash: { type: string }

tags:
  - name: System
  - name: Auth
  - name: Assets
  - name: Measurements
  - name: Marketplace
  - name: Governance
  - name: Analytics
  - name: AI
  - name: Identity
  - name: Knowledge
  - name: Blockchain
  - name: Sensors
  - name: Payments
  - name: Plugins
  - name: Ethics
  - name: Security
  - name: Admin

paths:

  # ── System ──────────────────────────────────────────────────────────────────

  /health:
    get:
      tags: [System]
      summary: Health check
      security: []
      responses:
        '200':
          description: Service healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }
                  version: { type: string }
                  uptime: { type: number }

  /api/audit/public:
    get:
      tags: [System]
      summary: Public audit log (immutable regenerative events)
      security: []
      parameters:
        - in: query
          name: limit
          schema: { type: integer, default: 50 }
        - in: query
          name: type
          schema: { type: string }
      responses:
        '200': { description: Audit entries }

  # ── Auth ────────────────────────────────────────────────────────────────────

  /api/auth/signup:
    post:
      tags: [Auth]
      summary: Register new user
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string, minLength: 8 }
                displayName: { type: string }
      responses:
        '201': { description: User created }
        '409': { description: Email already registered }

  /api/auth/login:
    post:
      tags: [Auth]
      summary: Authenticate user
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string }
      responses:
        '200':
          description: JWT token pair
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken: { type: string }
                  refreshToken: { type: string }
                  expiresIn: { type: integer }
        '401': { description: Invalid credentials }

  /api/auth/refresh:
    post:
      tags: [Auth]
      summary: Refresh access token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken: { type: string }
      responses:
        '200': { description: New access token }

  /api/auth/logout:
    post:
      tags: [Auth]
      summary: Invalidate session
      responses:
        '204': { description: Logged out }

  # ── Assets ──────────────────────────────────────────────────────────────────

  /api/assets:
    get:
      tags: [Assets]
      summary: List regenerative assets
      parameters:
        - in: query
          name: type
          schema: { type: string }
        - in: query
          name: status
          schema: { type: string }
        - in: query
          name: page
          schema: { type: integer, default: 1 }
        - in: query
          name: limit
          schema: { type: integer, default: 20 }
      responses:
        '200':
          description: Asset list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Pagination'
                  - type: object
                    properties:
                      items: { type: array, items: { $ref: '#/components/schemas/Asset' } }
    post:
      tags: [Assets]
      summary: Create regenerative asset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, type]
              properties:
                title: { type: string }
                type: { type: string }
                metadata: { type: object }
                geo: { type: object }
      responses:
        '201':
          description: Asset created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Asset' }

  /api/assets/{id}:
    get:
      tags: [Assets]
      summary: Get asset by ID
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Asset
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Asset' }
        '404': { description: Not found }
    patch:
      tags: [Assets]
      summary: Update asset
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: string }
                metadata: { type: object }
                status: { type: string }
      responses:
        '200': { description: Updated asset }

  /api/assets/{id}/verify:
    post:
      tags: [Assets]
      summary: Trigger AI + human verification pipeline
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '202': { description: Verification queued }

  # ── Measurements ────────────────────────────────────────────────────────────

  /api/measurements:
    post:
      tags: [Measurements]
      summary: Ingest environmental measurement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [assetId, source, timestamp, metrics]
              properties:
                assetId: { type: string }
                source: { type: string }
                timestamp: { type: string, format: date-time }
                geo: { type: object }
                metrics: { type: object }
      responses:
        '201':
          description: Measurement ingested
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Measurement' }

  /api/measurements/asset/{id}:
    get:
      tags: [Measurements]
      summary: List measurements for an asset
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
        - in: query
          name: from
          schema: { type: string, format: date-time }
        - in: query
          name: to
          schema: { type: string, format: date-time }
      responses:
        '200': { description: Measurements }

  /api/measurements/{id}/anchor:
    post:
      tags: [Measurements]
      summary: Anchor measurement to blockchain + IPFS
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Anchored
          content:
            application/json:
              schema:
                type: object
                properties:
                  txHash: { type: string }
                  ipfsCid: { type: string }

  # ── Marketplace ─────────────────────────────────────────────────────────────

  /api/marketplace/listings:
    get:
      tags: [Marketplace]
      summary: List credit marketplace listings
      security: []
      parameters:
        - in: query
          name: creditType
          schema: { type: string }
        - in: query
          name: minPrice
          schema: { type: number }
        - in: query
          name: maxPrice
          schema: { type: number }
        - in: query
          name: page
          schema: { type: integer, default: 1 }
      responses:
        '200':
          description: Listings
          content:
            application/json:
              schema:
                type: object
                properties:
                  items: { type: array, items: { $ref: '#/components/schemas/CreditListing' } }
    post:
      tags: [Marketplace]
      summary: Create credit listing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [assetId, amount, pricePerUnit]
              properties:
                assetId: { type: string }
                amount: { type: number }
                pricePerUnit: { type: number }
                currency: { type: string, default: USDC }
      responses:
        '201': { description: Listing created }

  /api/marketplace/{id}/purchase:
    post:
      tags: [Marketplace]
      summary: Purchase credit listing
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount]
              properties:
                amount: { type: number }
                paymentMethod: { type: string, enum: [stripe, crypto, rvx-credits] }
      responses:
        '201': { description: Purchase initiated }

  /api/marketplace/plugins:
    get:
      tags: [Plugins]
      summary: List developer marketplace plugins
      security: []
      parameters:
        - in: query
          name: category
          schema: { type: string }
        - in: query
          name: q
          schema: { type: string }
      responses:
        '200':
          description: Plugin list
          content:
            application/json:
              schema:
                type: object
                properties:
                  items: { type: array, items: { $ref: '#/components/schemas/Plugin' } }
    post:
      tags: [Plugins]
      summary: Publish plugin to marketplace
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, category, version, manifestCid]
              properties:
                name: { type: string }
                category: { type: string }
                version: { type: string }
                manifestCid: { type: string }
                description: { type: string }
      responses:
        '201': { description: Plugin submitted for review }

  /api/marketplace/plugins/{id}/install:
    post:
      tags: [Plugins]
      summary: Install plugin
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200': { description: Plugin installed }

  # ── Governance ──────────────────────────────────────────────────────────────

  /api/governance/proposals:
    get:
      tags: [Governance]
      summary: List DAO proposals
      security: []
      parameters:
        - in: query
          name: status
          schema: { type: string, enum: [draft, active, passed, rejected, executed] }
      responses:
        '200':
          description: Proposals
          content:
            application/json:
              schema:
                type: object
                properties:
                  items: { type: array, items: { $ref: '#/components/schemas/Proposal' } }
    post:
      tags: [Governance]
      summary: Create DAO proposal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, body, choices]
              properties:
                title: { type: string }
                body: { type: string }
                choices: { type: array, items: { type: string } }
                sevenGenImpact: { type: string }
                durationDays: { type: integer, default: 7 }
      responses:
        '201': { description: Proposal created }

  /api/governance/proposals/{id}/vote:
    post:
      tags: [Governance]
      summary: Cast vote on proposal
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [choice]
              properties:
                choice: { type: string }
                weight: { type: number }
                indigenousVeto: { type: boolean }
      responses:
        '200': { description: Vote recorded }

  /api/governance/proposals/{id}/execute:
    post:
      tags: [Governance]
      summary: Execute passed proposal on-chain
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200': { description: Execution submitted }

  # ── Analytics ───────────────────────────────────────────────────────────────

  /api/analytics/impact:
    get:
      tags: [Analytics]
      summary: Aggregate regenerative impact metrics
      security: []
      parameters:
        - in: query
          name: domain
          schema: { type: string, enum: [climate, health, finance, agriculture, governance, education, ocean, energy] }
        - in: query
          name: from
          schema: { type: string, format: date-time }
        - in: query
          name: to
          schema: { type: string, format: date-time }
      responses:
        '200': { description: Impact metrics }

  /api/analytics/timeseries:
    get:
      tags: [Analytics]
      summary: Time-series sensor and measurement data
      parameters:
        - in: query
          name: metric
          required: true
          schema: { type: string }
        - in: query
          name: assetId
          schema: { type: string }
        - in: query
          name: interval
          schema: { type: string, enum: [1m, 5m, 1h, 1d], default: 1h }
      responses:
        '200': { description: Time-series data }

  /api/analytics/leaderboard:
    get:
      tags: [Analytics]
      summary: Top regenerative contributors
      security: []
      parameters:
        - in: query
          name: category
          schema: { type: string }
        - in: query
          name: limit
          schema: { type: integer, default: 10 }
      responses:
        '200': { description: Leaderboard }

  # ── AI ──────────────────────────────────────────────────────────────────────

  /api/ai/forecast:
    post:
      tags: [AI]
      summary: Run AI climate/impact forecast
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [domain, horizon]
              properties:
                domain: { type: string }
                horizon: { type: string, enum: [7d, 30d, 90d, 1y] }
                geo: { type: object }
                context: { type: object }
      responses:
        '200': { description: Forecast result }

  /api/ai/agents:
    get:
      tags: [AI]
      summary: List AI agent council status
      responses:
        '200': { description: Agent statuses }

  /api/ai/agents/{agentId}/query:
    post:
      tags: [AI]
      summary: Query a specific AI agent
      parameters:
        - in: path
          name: agentId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [prompt]
              properties:
                prompt: { type: string }
                context: { type: object }
      responses:
        '200': { description: Agent response }

  /api/ai/ethics/score:
    post:
      tags: [AI, Ethics]
      summary: Score an action or proposal against constitutional ethics
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [subject, type]
              properties:
                subject: { type: object }
                type: { type: string, enum: [proposal, asset, measurement, plugin, agent-action] }
      responses:
        '200':
          description: Ethics score
          content:
            application/json:
              schema:
                type: object
                properties:
                  score: { type: number, minimum: 0, maximum: 100 }
                  flags: { type: array, items: { type: string } }
                  recommendation: { type: string }

  /api/ai/digital-twins/{twinId}:
    get:
      tags: [AI]
      summary: Get digital twin state
      parameters:
        - in: path
          name: twinId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Twin state }

  # ── Identity ─────────────────────────────────────────────────────────────────

  /api/identity/profile:
    get:
      tags: [Identity]
      summary: Get current user DID profile
      responses:
        '200':
          description: Identity profile
          content:
            application/json:
              schema: { $ref: '#/components/schemas/IdentityProfile' }

  /api/identity/credentials:
    get:
      tags: [Identity]
      summary: List verifiable credentials
      responses:
        '200': { description: Credentials }
    post:
      tags: [Identity]
      summary: Issue verifiable credential
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [subject, type, claims]
              properties:
                subject: { type: string }
                type: { type: string }
                claims: { type: object }
      responses:
        '201': { description: Credential issued }

  /api/identity/credentials/{id}/verify:
    get:
      tags: [Identity]
      summary: Verify a credential
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200': { description: Verification result }

  # ── Knowledge ────────────────────────────────────────────────────────────────

  /api/knowledge/search:
    get:
      tags: [Knowledge]
      summary: Semantic search across knowledge commons
      security: []
      parameters:
        - in: query
          name: q
          required: true
          schema: { type: string }
        - in: query
          name: type
          schema: { type: string, enum: [research, dataset, indigenous-knowledge, policy, impact-story] }
        - in: query
          name: limit
          schema: { type: integer, default: 10 }
      responses:
        '200': { description: Search results }

  /api/knowledge/assets:
    post:
      tags: [Knowledge]
      summary: Contribute knowledge asset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, type, content, license]
              properties:
                title: { type: string }
                type: { type: string }
                content: { type: string }
                license: { type: string }
                fpicConsent: { type: boolean }
      responses:
        '201': { description: Asset stored on IPFS + indexed }

  /api/knowledge/graph/query:
    post:
      tags: [Knowledge]
      summary: Query Neo4j knowledge graph
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [cypher]
              properties:
                cypher: { type: string }
                params: { type: object }
      responses:
        '200': { description: Graph query results }

  # ── Blockchain ───────────────────────────────────────────────────────────────

  /api/blockchain/anchor:
    post:
      tags: [Blockchain]
      summary: Anchor data hash to sanctum-1 chain
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [dataHash, type]
              properties:
                dataHash: { type: string }
                type: { type: string }
                ipfsCid: { type: string }
      responses:
        '200':
          description: Anchored
          content:
            application/json:
              schema:
                type: object
                properties:
                  txHash: { type: string }
                  blockHeight: { type: integer }

  /api/blockchain/bridge/transfers:
    get:
      tags: [Blockchain]
      summary: List cross-chain bridge transfers
      responses:
        '200': { description: Bridge transfers }
    post:
      tags: [Blockchain]
      summary: Initiate cross-chain bridge transfer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [fromChain, toChain, asset, amount, recipient]
              properties:
                fromChain: { type: string, enum: [sanctum-1, ethereum, polygon] }
                toChain: { type: string, enum: [sanctum-1, ethereum, polygon] }
                asset: { type: string }
                amount: { type: string }
                recipient: { type: string }
      responses:
        '201':
          description: Transfer initiated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BridgeTransfer' }

  /api/blockchain/bridge/transfers/{id}:
    get:
      tags: [Blockchain]
      summary: Get bridge transfer status
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Transfer status
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BridgeTransfer' }

  # ── Sensors ──────────────────────────────────────────────────────────────────

  /api/sensors:
    get:
      tags: [Sensors]
      summary: List registered IoT sensors
      responses:
        '200': { description: Sensor list }

  /api/sensors/{sensorId}/readings:
    get:
      tags: [Sensors]
      summary: Get recent readings for a sensor
      parameters:
        - in: path
          name: sensorId
          required: true
          schema: { type: string }
        - in: query
          name: limit
          schema: { type: integer, default: 100 }
      responses:
        '200':
          description: Sensor readings
          content:
            application/json:
              schema:
                type: object
                properties:
                  items: { type: array, items: { $ref: '#/components/schemas/SensorReading' } }

  /api/sensors/ingest:
    post:
      tags: [Sensors]
      summary: Ingest sensor telemetry (used by Greengrass bridge)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SensorReading' }
      responses:
        '201': { description: Reading ingested }

  # ── Payments ─────────────────────────────────────────────────────────────────

  /api/payments/intent:
    post:
      tags: [Payments]
      summary: Create payment intent for credit purchase
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [listingId, amount, currency]
              properties:
                listingId: { type: string }
                amount: { type: number }
                currency: { type: string }
      responses:
        '201': { description: Payment intent created }

  /api/payments/webhook:
    post:
      tags: [Payments]
      summary: Stripe / crypto payment webhook
      security: []
      responses:
        '200': { description: Webhook processed }

  # ── Ethics ───────────────────────────────────────────────────────────────────

  /api/ethics/audit:
    get:
      tags: [Ethics]
      summary: Ethics audit log for AI decisions
      parameters:
        - in: query
          name: agentId
          schema: { type: string }
        - in: query
          name: limit
          schema: { type: integer, default: 50 }
      responses:
        '200': { description: Ethics audit entries }

  # ── Security ─────────────────────────────────────────────────────────────────

  /api/security/events:
    get:
      tags: [Security]
      summary: Security monitoring events
      responses:
        '200': { description: Security events }

  /api/security/rate-limits:
    get:
      tags: [Security]
      summary: Current rate limit status for caller
      responses:
        '200': { description: Rate limit info }

  # ── Admin ────────────────────────────────────────────────────────────────────

  /api/admin/users:
    get:
      tags: [Admin]
      summary: List all users (admin only)
      responses:
        '200': { description: User list }

  /api/admin/flags:
    get:
      tags: [Admin]
      summary: Feature flags
      responses:
        '200': { description: Feature flags }
    patch:
      tags: [Admin]
      summary: Update feature flag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                flag: { type: string }
                enabled: { type: boolean }
      responses:
        '200': { description: Flag updated }
